@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto+Condensed:ital,wght@1,300&display=swap');



*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
}


div.navigation{
    width: 100%;
    padding: 10px;
    background-color: black; 
    background-image: url('../img/outside.jpg');
    background-repeat: no-repeat;
   
    background-size: cover;
}

/* div.navigation::before{
     content: url('./../img/logo\ with\ back.png');
     position: static;;

 } */
 .navigation .inner{
     display: inline;
 }
.navigation .inner li{
    display: inline;
    padding: 10px;
    margin: 0px 40px;
}
    
.navigation .inner li a{
    color: cornsilk;
}
li > a{
    text-decoration: none;
    font-size: 30px;
}

/* baner */
.hero{
    width: 50%;
    border: 1px solid white;
    margin: 300px auto;
    /* margin-right: auto;
    margin-left: auto; */
    padding: 40px;
    text-align: center;


    color: white;
    font-size: 50px;
}
.hero h1{
    font-family: 'Reggae One', cursive;
}
.hero button{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 40px;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;

}
/* container */


.container{
    width: 80%;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}
.sections{
display:flex;
box-shadow: 18px -5px 48px 14px rgba(255,255,255,0.59);
margin-top:20px ;
padding: 20px;
justify-content:center;
}
.sections .inner{
    margin-top: 100px;
    padding: 10px;
    vertical-align: middle;  
    
}
.sections h2{
text-decoration: underline;
color: white;
text-align: center;
}
.sections > .inner p{
    flex-wrap: wrap;
    color: white;
    float: right;
    font-size: 30px;
    vertical-align: middle;
}

div.sections img{
    width: 500px;
    height: 500px;
    border-radius: 60%;
}
.sections button{
    float: right;
    font-size: 30px;
}